$white-color: #fff;
$beige-color: #fcfcf2;
$darker-beige-color: #fcfce2;
$black-color: #000;
$blue-color: #0074bc;
$green-color: #0be200;
$yellow-color: #fffb00;
$red-color: #ff0000;
$grey-color: #636363;
$light-grey-color: #a7a7a7;
$dark-grey-color: #474747;

$primary-margin-top-bottom: 10px;
$primary-margin-left-right: 10px;

$primary-padding: 10px;

$primary-border-radius: 10px;
