@use '../../../styles/variables' as v;

.tasks-explorer {
  margin: 0 v.$primary-margin-left-right;

  &__filter-comp {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0 v.$primary-margin-left-right;
  }

  &__create-button {
    width: calc(100% - (v.$primary-margin-left-right * 2));
    position: fixed;
    bottom: 5px;
  }
}
